*cmake-build*
try_around*
hello_world*
compile_RPA.sh
compile_try.sh
integration.h
RPA_bubble.cpp
workspace.xml
Project_Default.xml
*.idea*
*.aux
*.synctex.gz
*.dot

!*.rst
.DS_Store
.vscode*
build*
source/Documentation/html*
source/Documentation/xml*